@import "tailwindcss";

body {
  @apply bg-[#0f0f0f] text-white select-none;
}

.button {
  @apply bg-[#0a6ec8] hover:bg-[#1361ad] disabled:bg-[#124c7e] disabled:hover:bg-[#1b3f63] disabled:text-[#bdbdbd] disabled:hover:text-[#e6e6e6] rounded-md cursor-pointer text-[16px] py-1.5 px-3 transition-colors duration-[0.25s];
}

.button-green {
  @apply bg-[#28a745] hover:bg-[#218838] disabled:bg-[#1c7430] disabled:hover:bg-[#1a5c24] disabled:text-[#bdbdbd] disabled:hover:text-[#e6e6e6];
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-[#1f1f1f] rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#555] w-1 rounded-lg active:bg-[#888];
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup-overlay {
  @apply fixed w-screen h-screen z-[99999] flex justify-center items-center animate-[fadeIn_0.2s_ease-out_forwards] left-0 top-0 bg-[rgba(0,0,0,0.5)];
}

.popup-overlay.fade-out {
  @apply animate-[fadeOut_0.2s_ease-out_forwards];
}

.popup-box {
  @apply relative w-[60vw] h-[80vh] rounded-lg bg-[#161616] border border-[#323232] flex flex-col p-6;
}

.popup-content {
  @apply flex-1 overflow-auto bg-[#242424] border border-[#484848] rounded-lg mt-4;
}

.popup-entry {
  @apply relative h-[100px] bg-[#323232] m-2 p-2 rounded-lg border border-[#646464];
}

.popup-entry button {
  @apply absolute;
}

.close-button {
  @apply flex justify-center items-center absolute bg-[#323232] hover:bg-[#484848] text-2xl cursor-pointer text-gray-300 hover:text-white h-12 w-12 p-3 rounded-xl left-2 top-2 transition-colors border border-[#484848] hover:border-[#646464];
}

*:focus {
  @apply outline-none;
}

.input-field {
  @apply border-2 border-[#484848] rounded-md bg-[#242424] p-2 px-4 focus:border-blue-600 transition-colors;
}
