@import "tailwindcss";

.downloads-container {
  @apply flex justify-center;
}

.downloads-scroll {
  @apply h-[515px] bg-(--col1) border border-(--col3) rounded-lg overflow-y-auto w-full;
}

.downloads-entry {
  @apply flex justify-between items-center m-2 p-4 rounded-lg text-gray-200 text-lg transition-colors cursor-default bg-(--col2) hover:bg-(--col3) border border-(--col4) hover:border-(--col5);
}

.downloads-entry p.score {
  @apply font-mono text-blue-500 text-lg;
}
