@import "tailwindcss";

.sidebar {
  @apply fixed top-0 left-0 w-60 h-screen bg-(--col1) flex flex-col border-e border-(--col2) z-1;
}

.sidebar-downloads {
  @apply text-[#bdbdbd] fixed bottom-3 left-2 bg-(--col2) rounded-lg border border-(--col3) w-55 p-4 cursor-pointer transition-colors duration-[0.25s];
}

.sidebar-downloads:hover {
  @apply text-white;
  @apply bg-(--col3) border-(--col4);
}

.logo {
  @apply text-2xl font-bold p-4;
}

.nav-links {
  @apply flex flex-col p-4 space-y-1 overflow-y-auto overflow-x-hidden;
}

.link {
  @apply text-[#bdbdbd] p-2 rounded-md no-underline cursor-pointer transition-colors duration-[0.25s] border border-transparent;
}

.link.active {
  @apply bg-(--col2) border-(--col3);
}

.link.active,
.link:hover {
  @apply text-white;
}

.link.active:hover {
  @apply bg-(--col3) border-(--col4);
}
