@use 'tailwindcss' as *;
@use '@fontsource/roboto' as *;

$backgroundColor: #131313;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $backgroundColor;
  color: white;
  user-select: none;
}
